.env
.env.shared

library/music/*
library/music/*/

navidrome/data/*
navidrome/data/*

nginx-proxy-manager/data/*
nginx-proxy-manager/data/*

spotizerr/config/*
spotizerr/config/*/
spotizerr/creds/*
spotizerr/creds/*/
spotizerr/logs/*
spotizerr/logs/*/
spotizerr/redis-data